/* materialize container stuff */

.container{
	max-width: 1295px;
	width: 100%;
	margin: 0 auto;
}

/* colors */

body{
	background-color: #e9eaee;
}

.reflex-blue{
	background-color: #001489;
}

.bright-blue{
	background-color: #005cfb;
}

.silver{
	background-color: #f5f5f5;
}

/* typography */

.small-title{
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding-bottom: 0;
	margin-bottom: 0;
}

.h1-heading{
	font-family: Helvetica, Arial ,sans-serif;
	font-size: 48px;
	line-height: 54px;
	font-weight: 200;
}

.small{
	font-size: 16px;
	line-height: 20px;
}

.tiny{
	font-size: 10px;
	line-height: 12px;
}

a{
	color: inherit;
}

/* content */
.lazyload, .lazyloading {
	background-image: none !important;
}

.inline-icon{
	vertical-align: middle;
	font-size: 18px;
}

.btn{
background-color: #005cfb;
border-radius: 8px;
transition: 0.2s;
}

.btn:hover{
	background: #001489;
	box-shadow: 0 0.7rem 1.4rem rgba(51,58,70,0.15), 0 0.3rem 0.6rem rgba(0,24,55,0.065);
	transform: translate3d(0,-4px,0);
}

.btn:visited{
	background-color: #005cfb;
}

tr{
	border: none;
}

.video-container{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video-container .video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.three-features td{
	text-transform: uppercase;
	font-weight: 700;
	color: #666666;
	border-right: 1px solid #666666;
}

.three-features td:last-of-type{
	border: none;
}

.video-border{
	border: 1px solid #666666;
	padding: 10px;
	max-width: 350px;
}

.video-border p{
	line-height: 1;
}

.cloud-storage{
	background-color: #333333;
	position: relative;
}

.xl{
	font-size: 120px;
	line-height: 1;
	font-weight: 800;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #40f99b;
}

.badges{
	position: absolute;
	bottom: 10px;
	left: 40%;
}

.badges img{
	display: block;
	max-width: 120px;
}

.phone{
	display: inline-block;
	vertical-align: bottom;
}

/* icon sprite */
.icon{
	width: 80px;
	height: 80px;
	background-image: url("../images/camera/video-icons.png");
	background-size: 400px;
	background-repeat: no-repeat;
}

.icon.live-video{
	background-position: 1;
}

.icon.two-way{
	background-position: -80px 0;
}

.icon.night-vision{
	background-position: -160px 0;
}

.icon.cloud-recording{
	background-position: -240px 0;
}

.icon.alert{
	background-position: -320px 0;
}

/* blue bg */

.icon.hd{
	background-position: 0 -80px;
}

.icon.fov{
	background-position: -80px -80px;
}

.icon.motion{
	background-position: -160px -80px
}

.icon.voice{
	background-position: -240px -80px;
}

.icon.cloud{
	background-position: -320px -80px;
}

.icon.ir{
	background-position: 0 -160px;
}

.icon.twenty-four{
	background-position: -80px -160px;
}

.icon.bell{
	background-position: -160px -160px;
}

.icon.app-store{
	width: 153px;
	height: 45px;
	background-position: -10px -248px;
}

.icon.play-store{
	width: 152px;
	height: 45px;
	background-position: -180px -248px;
}

.icon-block{
	display: table;
}

.icon-block p{
	display: table-cell;
	vertical-align: middle;
}

/* equipment image sprite -- white background */

.product-small{
	width: 100%;
	max-width: 150px;
	height: 150px;
	margin: 0 auto;
	background-image: url("../images/camera/products-sprite-white.jpg");
	background-size: 450px;
}

.product-small.panel{
	background-position: 0 0;
}

.product-small.dw-sensor{
	background-position: -150px 0;
}

.product-small.motion{
	background-position: -300px 0;
}

.product-small.indoor{
	background-position: 0 -150px;
}

.product-small.smoke{
	background-position: -150px -150px;
}

.product-small.echo{
	background-position: -300px -150px;
}

.product-small.doorbell{
	background-position: 0 -300px;
}

.product-small.august{
	background-position: -150px -300px;
}

.product-small.outdoor{
	background-position: -300px -300px;
}

.hero{
	background-image: none;
	background-size: cover;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.app{
	background-image: none;
	background-size: 650px;
	background-position: bottom -80px right -100px;
	background-repeat: no-repeat;
}
.features p{
	line-height:1;
}
.security{
	background-color: #ebecf0;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 45%;
}

.caption{
	width: 60%;
	margin: 0 auto;
}

.caption i{
	font-size: 36px;
	color: #005cfb;
}

.smart-security{
	background-color: #DAE9EE;
}

.smart-security p.small{
		line-height: 1;
}

/* media queries for bg images */
@media only screen and (min-width: 992px){
	.hero{
		background-image: url("../images/camera/indoor-camera-hero.jpg");
	}
}

@media only screen and (min-width: 600px){
	.app{
		background-image: url("../images/camera/adc-app-hand.png");
	}
	.security{
		background-image: url("../images/camera/panel-on-desk.jpg");
	}
}

/* max width media queries */

@media only screen and (max-width: 1200px){
	.container{
		width: 100%;
	}
}


@media only screen and (max-width: 992px){
	/* main content */
	.cloud-storage.xl{
		font-size: 100px;
	}
	.hero{
		background-image: url("../images/camera/camera-bg-2.png"), url("../images/camera/blue-wall-bg.png");
		background-repeat: no-repeat, repeat-x;
		background-size: 650px, contain;
		background-position: right -200px bottom -75px, top left;
	}
	.app{
		background-size: 550px;
		background-position: right -200px bottom 0;
	}
	.security{
		background-size: 65%;
		background-position: right -50% top 0;
	}
}


@media only screen and (max-width: 600px){

	/* main content  */
	.cloud-storage .xl{
		font-size: 50px;
	}
	.hero{
		padding-bottom: 280px !important;
		background-size: 450px, contain;
		background-position: bottom -40px right -120px, top left;
	}

	.s-valign-wrapper{
		display: flex;
		align-items: center;
	}
	.three-features td{
		padding: 10px;
		font-size: 12px;
	}
	.app{
		background-image: none;
	}
	.security{
		padding-top: 400px;
		background-position: top right;
		background-size: 90%;
		background-image: url("../images/camera/panel-on-desk-mobile.jpg");
	}
	.caption{
		width: 100%;
	}
}

/* extra small for mobile */
@media only screen and (max-width: 400px){

	.xs-12{ /* overrides col s10 */
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.product-small{
		width: 80px;
		height: 80px;
		background-size: 240px;
	}

	.product-small.dw-sensor{
		background-position: -80px 0;
	}

	.product-small.motion{
		background-position: -160px 0;
	}

	.product-small.indoor{
		background-position: 0 -80px;
	}

	.product-small.smoke{
		background-position: -80px -80px;
	}

	.product-small.echo{
		background-position: -160px -80px;
	}

	.product-small.doorbell{
		background-position: 0 -160px;
	}

	.product-small.august{
		background-position: -80px -160px;
	}

	.product-small.outdoor{
		background-position: -160px -160px;
	}

	.hero{
		padding-bottom: 300px;
	}

	.security{
		padding-top: 250px;
	}
}
