body{
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	overflow: auto !important; /* fixes modals shifting content issue */
}

.logo{
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

.h2-heading{
	font-size: 28px;
	line-height: 38px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.h3-heading{
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0 auto;
	padding-top: 50px;
}

.color-bg{
	background-color: #acdb92;
	color: #000;
	outline: 6px dotted #fff;
	outline-offset: -30px;
	border: 6px solid #718e6b;
}

.color-bg a{
	color: #000;
}

a{
	font-weight:700;
	color: #718e6b;
}

a:hover{
	text-decoration: underline;
}

.bold{
	font-weight: 700;
}

.caps{
	text-transform: uppercase;
}

.italic{
	font-style: italic;
}

.carousel.carousel-slider .carousel-item .h2-heading{
	font-size: 28px;
	line-height: 38px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.carousel ul{
	display: block;
	max-width: 80%;
}

.brick{
	background-image:url("../images/plants-that-protect/brick-bg.png");
	background-repeat: repeat-x;
	background-position: top center;
	background-size:50%;
	padding-top:20%;
}

/* modals */
.yard{
	position: relative;
}

.circle{
	position: absolute;
	background-color: #000000;
	opacity: 0.8;
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 50%;
	max-width: 50px;
	max-height: 50px;
}

.circle:hover{
	opacity: 0.6;
}

/* fence bushes */
.circle.one{
	top: 50%;
	left: 8%;
}

/* window sill */
.circle.two{
	top: 55%;
	left: 71.5%;
}

/* bush under window */
.circle.three{
	top: 50%;
	left: 60%;
}

/* grass */
.circle.four{
	top: 80%;
	left: 75%;
}

/* gardening tools */
.circle.five{
	top: 68%;
	left: 35%;
}

/* along path */
.circle.six{
	top: 72%;
	left: 83%;
}

.carousel{
	min-height:200px;
	border: 1px solid #000000;
}


@media only screen and (max-width: 600px) {

	.carousel.carousel-slider .carousel-item .h2-heading{
		font-size: 18px;
	}

	.carousel-ul{
		margin-left: 10px;
	}

	.color-bg{
		outline: none;
		border: 2px solid #718e6b;
	}
	.s-center-align{
		text-align:center;
	}
}
